@import "tailwindcss";

.blink {
  animation: blink 2s ease-in-out infinite;
}

@keyframes blink {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@font-face {
  font-family: 'MyFont';
  src: url('./assets/fonts/FreeSansBold.otf') format('opentype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'MyFontNormal';
  src: url('./assets/fonts/FreeSans.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}



.helvetica{
  font-family: "MyFont";
}


.helvetica-normal{
  font-family: "MyFontNormal";
}

/* .title{
  -webkit-text-stroke: 1px white;
} */